body {
    color: #868686;
    background: url(../../img/bg-purple.jpg) !important;
}
#main-content {
    box-shadow: 0 0 10px #3f3861;
    -moz-box-shadow: 0 0 10px #3f3861;
    -webkit-box-shadow:0 0 10px #3f3861 ;
}
a, a:hover {
    text-shadow: none !important;
    color: #625893;
}
ul.faq-list li a:hover, ul.faq-list li a.active{
    background: #625893;
}
#header.navbar-inverse .navbar-inner {
    background:#4e4e4e url("../../img/top-bg.jpg") repeat-x !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e4e4e',endColorstr='#4e4e4e',GradientType=0)
    border-width: 0;
}

#header .navbar-inner .nav .dropdown-toggle:hover, .navbar-inner .nav .dropdown.open .dropdown-toggle {
    background-color: #333 !important;
}

#header.navbar-inverse .divider-vertical {
    border-left-color: #2c2d2f;
    border-right-color: #181a1b;
}

#sidebar > ul > li > a {
    color: #c3bde2 !important;
}

#sidebar > ul > li a i {
    color: #fff !important;
}

#sidebar > ul > li >a:hover, #sidebar > ul > li:hover>a {
    color: #fff !important;
    background: url("../../img/side-bar-list-bg.png");
}

#sidebar > ul > li.active > a{
    background: url("../../img/side-bar-list-bg.png");
}

#sidebar > ul > li > ul.sub > li > a {
    color: #c3bde2;
}

#sidebar > ul > li > ul.sub > li > a:hover , #sidebar > ul > li > ul.sub > li.active a{
    color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #EEEEEE;
    background-image: none;
    color: #333333;
    filter: none;
    text-decoration: none;
}

#sidebar > ul > li > ul.sub > li {
    border-bottom: 1px solid #5c538a;
}

#sidebar > ul > li > ul.sub > li:last-child {
    border-bottom:none;
}

.chats li.out .name {
    color: #b14c4c;
}

.chats li.in .message {
    border-left: 2px solid #625893;
}

.chats li.in .message .arrow {
    border-right: 8px solid #625893;
}

.chats li.out .message .arrow {
    border-left: 8px solid #b14c4c;
}

.chats li.out .message {
    border-right: 2px solid #b14c4c;
}

/* Landscape phone to portrait tablet */
@media (max-width:979px) {
    #sidebar {
        background-color: #7267ac !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
    }

    #sidebar > ul > li > a {
        border-bottom: 1px solid #625893 !important;
    }

    #sidebar > ul > li.active > a, #sidebar > ul > li:hover > a, #sidebar > ul > li > a:hover {
        border-bottom: 1px solid #625893 !important;
    }
}